<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../gamesStyles.css">
</head>
<body>
    <header>
        Torres dev | Plantilla de juego
        <span class="right" id="loginSection">
            <a href="login/index.html">
                Iniciar sesion
            </a>
            |
            <a href="register/index.html">
                Registrarse
            </a>
        </span>
    </header>
    <main>
        <div id="game">
            <link rel="stylesheet" href="game.css">
            <div id="pantalla">

            </div>
        </div>
    </main>
</body>
<script src="game.js"></script>
<script src="../../resourses/verifyUser.js"></script>
<script src="../gamesScript.js"></script>
</html>