* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(246, 218, 240);
    --secondary-color: #fa97d4;
}

body {
    background-color: var(--primary-color);
    background-image: url("imgs/florIcon.png");
    background-repeat: no-repeat;
    background-position: -10px -20px;
    background-size: 150px;
    font-family: "Pacifico", cursive;
}

.hidden {
    display: none;
}

.audio img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.audio {
    display: flex;
    width: 85%;
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
}

.audio span {
    line-height: 40px;
}

.container {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

h1 {
    font-size: 45px;
    color: var(--secondary-color);
    text-shadow: -2px 2px 4px rgba(45, 1, 50, 0.404);

}

h2 {
    font-family: 'Great Vibes', cursive;
}

.text {
    padding: 30px;

}

.info img {
    width: 80px;
}

.info span {
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid var(--secondary-color);
    display: block;
    margin-bottom: 10px;
}

.img {
    margin-top: 20px;
    height: 400px;
    width: fit-content;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
}

.img .content {
    mask-image: linear-gradient(to top, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
  z-index: 200;
}

.img img {
    height: 400px;
}

.content::before,
.img::after {
    content: "";
    position: absolute;
    background-image: url(imgs/imagenBordeFotos.png), url(imgs/imagenBordeFotos.png);
    top: -40px;
    left: 0;
    background-size: auto 100%;
    width: 100%;
    height: 100px;
    background-position: center;
    z-index: 100;
    background-position: 0px, 50px;

}



.img::after {
    top: auto;
    bottom: -50px;
    transform: rotate(180deg);
}

.container {
  opacity: 0;
  transform: translateY(-40px);
  transition: all 0.6s ease-out;
}

/* Se activa cuando entra en pantalla */
.container.visible {
  opacity: 1;
  transform: translateY(0);
}

#countdown {
  font-family: 'Great Vibes', cursive;
  font-size: 32px;
  color: #d94f6d;
  background: linear-gradient(to right, #ffe4e1, #fff0f5);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

#countdown div {
    display: inline-block;
    margin: 0 10px;
}   


input[type="button"], .btn {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Pacifico', cursive;
    margin-top: 20px;
}




@keyframes girar {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-300%);
    }

}