* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --secondary-color: #fa97d4;
    --third-color: #86A7E3;
}

body {
    background-color: var(--primary-color);
    background-image: url("imgs/florIcon.png");
    background-repeat: no-repeat;
    background-position: -10px -20px;
    background-size: 300px;
    font-family: "Tangerine", cursive;
    /* color: rgb(62, 62, 62); */
    color: rgb(19, 19, 19);
    font-size: 28px;
}

.hidden {
    display: none;
}

.audio img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.float {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;

}
.audio {
    padding: 10px;
    border-radius: 100%;
    background-color: var(--secondary-color);
}

.float div {
    display: flex;
    align-items: center;
}

.linea-rosa {
    border-top: 3px solid var(--secondary-color);
    height: 0px;
    width: 100%;
}

.container {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

h1 {
    font-size: 35px;
    font-family: 'Macondo', cursive;
    margin-top: 100px;
}

h2 {
    font-family: "Lavishly Yours", cursive;
    font-weight: normal;
    font-size: 33px;
}

.text {
    margin-top: 50px;
    padding: 30px;
    font-family: "Ephesis", cursive;
    font-size: 22px;

}

.info img {
    width: 80px;
}

.info span {
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid var(--secondary-color);
    display: block;
    margin-bottom: 10px;
    font-family: "Quintessential", cursive;
}

.img {
    margin-top: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 50px;
    overflow: hidden;

    /* overflow: hidden; */
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0)); */
}

.img .content {
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}

.img img {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    animation: girar 10s linear infinite;

}

/* Carousel blur transition */
.content {
    position: relative;
    width: 100%;
    display: flex;
}




.texto {
    background: #e1e8ff;
    font-size: 30px;
    margin-left: 0px;
    width: calc(100% + 1px);
    border-radius: 0px;
}

/* .img::before,
.img::after {
    content: "";
    position: absolute;
    background-image: url(imgs/imagenBordeFotos.png);
    left: 0;
    top: -20px;
    background-size: auto 100%;
    width: 100%;
    height: 30px;
    background-position: center;
    z-index: 200;
    background-position: 0px;

}



.img::after {
    top: auto;
    bottom: -10px;
} */

.container {
    opacity: 0;
    transform: translateY(-40px);
    transition: all 0.6s ease-out;
}

/* Se activa cuando entra en pantalla */
.container.visible {
    opacity: 1;
    transform: translateY(0);
}

#countdown {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    color: #050036;
    background: #e1e8ff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgb(1, 1, 74);
}

#countdown span {
    border-bottom: 2px solid rgb(28, 1, 74);
    font-family: "Handjet", cursive;
    
    
}

#countdown div {
    display: inline-block;
    margin: 0 10px;
}


input[type="button"],
.btn {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    font-family: 'Tangerine', cursive;
    margin-top: 20px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Macondo', cursive;
    text-align: center;
}

nav .centro {
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
}


@keyframes girar {
    0%, 35%, 100% {
        transform: translateX(0);
    }
    40%, 95% {
        transform: translateX(-100%);
    }

}