* {
    padding: 0px;
    margin: 0px;
    --colorLetras: rgb(58, 58, 213);
    --background: 43, 43, 43;
    --border: rgb(65, 65, 65);
    --titulo: rgb(252, 206, 97);
    --later: rgb(33, 34, 36);
    --hover: rgb(50, 50, 50);
    --activeHover: rgb(80, 80, 80);
    --colorSelect: rgb(87, 87, 239);
    --subtema: rgb(39, 165, 98);
}

body {
    background-color: rgb(var(--background));
    color: rgb(75, 194, 227);
    overflow: hidden;
}

header {
    padding: 10px;
    background-size: 100%;
    background-repeat: repeat-y;
    border-bottom: 1px solid var(--border);
}
.title {
    line-height: 100px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: var(--colorLetras);
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

section {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: solid 1px var(--border);
    
}

section.doble {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.titulo {
    color: var(--titulo);
}

section img {
    height: 200px;
    margin: 0 auto;
    display: block;
}

section div {
    padding: 10px;
}

.scroll {
    overflow-y: scroll;
    height: calc(100vh - 100px);
}

.item {
    padding: 5px 20px;
    color: white;
    transition: .1s all;
    cursor: pointer;
}

.item.active {
    background-color: var(--border);
}

.item.active:hover {
    background-color: var(--activeHover);
}

.item:hover {
    background-color: var(--hover);
    transition: .1s all;

}

.item i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-position-y: center;
}


.later {
    background-color: var(--later);
    border-right: 1px solid var(--border);
}

/* Algun dia veran mi portafolio y diran este pana uso una plantilla, ojala al ver el codigo sepan que no fue asi */
.game {
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    border: solid 1px black;
    background-color: var(--colorLetras);
    color: white;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background-color: var(--colorSelect);
    transition: all .3s;
}

.subtema {
    color: var(--subtema);
}

.p-10 {
    padding: 10px;
}

::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de scroll */
    border: solid 1px black;
    border-bottom: none;
    border-top: none;
}

::-webkit-scrollbar-track {
    border: solid 1px black;/* Color del fondo de la barra */
    width: 10px;
    border-bottom: none;
    border-top: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--border); /* Color del "thumb" (la parte que se mueve) */
    border-radius: 0px;
    border: solid 1px black;/* Color del fondo de la barra */
    border-bottom: none;
    border-top: none;
}
